<%- include('template/header')%>
<!--
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/home">Bluezone</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <% if (login) { %>                
      <div class="navbar-nav">
         <a id="user">Hola, <strong><%= name %></strong></a>
     </div>
    <% } %>
    
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="logout">Cerrar sesión</a>
      </div>
    </div>
  </header>
  -->

  <header class="d-flex">

    <% if (login) { %>
    <div class="d-flex w-100 justify-content-between align-items-center m-auto  p-3">
        <a class="letra-header-1" href="/home"> Bluezone</a>
        <di>
            <span class="letra-header-1">Hola<strong >, <%= name %></strong></span>
            <% } %>
        </di>
  
        <a class="letra-header-1" style="font-size: 20px" href="/logout">Cerrar sesión</a>
    </div>
  
  </header>
<!--
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">
                <span data-feather="home"></span>
                Tablero
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nuevo-cliente">
                <span data-feather="user"></span>
                Nuevo cliente
              </a>
          </ul>
        </div>
      </nav>
  
      
    </div>
  </div>
  -->

  <nav class="navbar navbar-light">
    <div class="container-fluid">
  
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
  <!--                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>-->
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active menu-canva" aria-current="page" href="home">
                            <span data-feather="home"></span>
                            Tablero
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-canva" href="nuevo-cliente">
                            <span data-feather="user" ></span>
                            Nuevo cliente
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </nav>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Crear Proyecto</h1>
      </div>
  
  </main>

  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form action="/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Nombre de la empresa</label>
          <input type="text" class="form-control" placeholder="Ingresar nombre" name="companyName" required>
        </br>
        <div class="form-group">
          <label>Responsable empresa</label>
          <input type="text" class="form-control" placeholder="Ingresar nombre" name="responsableName" required>
        </br>
        </div>
        <div class="form-group">
          <label>Fecha de inicio del proyecto</label>
          <input type="date" class="form-control" placeholder="Ingresar fecha" name="date" required>
        </div>
        </br>
        <div class="form-group">
            <label>Facebook</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="facebook">
          </br>
          <div class="form-group">
            <label>Instagram</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="instagram">
          </br>
          <div class="form-group">
            <label>Twitter</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="twitter">
          </br>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Ingresar email" name="email" required>
          </br>
          <div class="form-group">
            <label>Número de teléfono</label>
            <input type="number" class="form-control" placeholder="Ingresar número" name="phoneNumber" required>
          </br>
          <div class="form-group">
            <label>Google Drive</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="googleDrive">
          </br>
          <div class="form-group">
            <label>Otros enlaces</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="otherLinks">
          </br>
          <div class="form-group">
            <label>Sitio web</label>
            <input type="text" class="form-control" placeholder="Ingresar url" name="web">
          </br>
          <div class="form-group">
            <label>Tipo de Proyecto</label>
            <select name="proyectos" class="form-control">
              <option value="" disabled selected>Seleccionar tipo de proyecto</option>
              <option value="wip">WIP</option>
              <option value="wif">WIF</option>
              <option value="cm">CM</option>
              <option value="dmt">DMT</option>
              <option value="amt">AMT</option>
              <option value="AP">AP</option>
              <option value="others">Others</option>
            </select>
          </br>
          <label for="myfile">Seleccionar imagen </label>
        <input type="file" id="myfile" name="image" class="form-control">
        </br>
        <button type="submit" class="btn btn-primary">Crear</button>
        
        <a href="home" class="btn btn-secondary">Cancelar</a>
      </form>
  </div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/5.1/examples/dashboard/dashboard.js"></script>

<%- include('template/footer')%>