.openSans {
    font-family: openSans;
}

.displayNone {
    display: none;
}

.clienteTitle {
    font-size: 15px;
}

.bc546bff {
    background-color: #546bff;
}

.fecha {
    font-size: 11px;
}

.saldo {
    margin-bottom: 1rem;
}

.cardSemaforo {
    margin-right: 5%;
    flex-direction: row;
    width: 75%;
    border-radius: 15px 15px 15px 15px;
}

.cardSemaforo button {
    border: none;
    background-color: transparent;
}

.marginSemaforo {
    margin-top: 3%;
    margin-left: 3%;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1rem;
}

.dotWIP {
    background-color: #4BFF00 !important;
}

.dotWIF {
    background-color: #546bff !important;
}

.dotCM {
    background-color: #6E00FF !important;
}

.dotDMT {
    background-color: #FFC400 !important;
}

.dotAP {
    background-color: #00E8D0 !important;
}

.dotFinalizado {
    background-color: #E80000 !important;
}

.dotOthers {
    background-color: #747474 !important;
}

.dotWIPreference {
    background-color: #4BFF00 !important;
}

.dotWIFreference {
    background-color: #546bff !important;
}

.dotCMreference {
    background-color: #6E00FF !important;
}

.dotDMTreference {
    background-color: #FFC400 !important;
}

.dotAPreference {
    background-color: #00E8D0 !important;
}

.dotFinalizadoreference {
    background-color: #E80000 !important;
}

.dotOthersreference {
    background-color: #747474 !important;
}